/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}


/* ==========================================================================
     Author's custom styles
     ========================================================================== */
/* ==========================================================================
     Mobile first
     ========================================================================== */
/*--GENERAL STYLES--*/
html {
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1em;
  width: 100%;
  height: 100%;
}

h2,
h3,
h4,
label,
select,
option,
p,
li {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: #152A3E;
  text-decoration: none;
}

h2 {
  font-size: 2.75em;
  margin-top: 10px;
  text-align: center;
}

header .content-wrapper,
main #content,
footer .content-wrapper {
  width: 90%;
}

img {
  margin: 0;
}

figure {
  margin: 0;
}

/*---HEADER MOBILE STYLES---*/
header {
  display: flex;
  justify-content: center;
  background: rgb(18, 0, 89);
  color: white;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-flow: row wrap;
  margin: 10px 0 20px 0;
}

header img{
  width:95%;
}

.header .header-divider {
  width: 100%;
  height: 1px;
  color: rgb(18, 0, 89);
}

header h1 {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  margin: 0 1em;
}

header i {
  font-size: 3em;
}

header nav {
  width: 100%;
  text-transform: uppercase;
  margin-top: 1em;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
}

header nav ul li a {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/*---MAIN STYLES---*/
main {
  background: white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

main .hero {
  display: flex;
  justify-content: center;
  background: url('../img/pexels-element-digital-1370295.jpg') rgb(39, 123, 168) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  width: 100%;
  /*position: relative;*/
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1), 0 12px 20px rgba(17, 24, 39, .2);
}

/*.hero::before {
  content: "";
  background: url('../img/pexels-pixabay-415071.jpg') rgb(184, 223, 247) no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  flex-basis: 100px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}*/

/*main .hero .content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 10px; 
}

main .hero h2 {
  margin-top:40px;
  font-size: 2em;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}*/

main #content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

main .content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1), 0 12px 20px rgba(17, 24, 39, .2);
}

#content article {
  margin: 1.5em;
}

#about figure,
#contact figure {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#about img,
#contact img {
  height: 12em;
  overflow: hidden;
}


/*---SEARCH MOBILE STYLES---*/
#search .result {
  /*border: 3px dotted black;*/
  padding: 10px 10px;
}

#search .result p {
  margin: 0 0 1.5em 0;
  font-size: 0.9em;
}

#search .result p span {
  font-style:italics;
}

#search .result a {
  margin: 0;
}

/*---ABOUT MOBILE STYLES---*/
#about img {
  border: 1px solid rgb(18, 0, 89);
}

#about h4 {
  margin-bottom: 0.5em;
}

#about p {
  margin: 0;
}

/*---CONSIDER MOBILE---*/
#content .b3 {
  margin-bottom: 40px;
}

#consider span{
  font-weight: 600;
}

#consider .disclaimer {
  margin-top: 2em;
  border: 2px dotted rgb(18, 0, 89);
  font-size: 0.75em;
}

#consider h4 {
  margin: 0;
}

/*#contact .contact-form{
  display:flex;
  flex-direction:column;
  border: 4px white dotted;
}

#contact .contact-form #email{
  margin-bottom:1.5em;
}

#contact button {
  width:30%;
  margin-top:1.5em;
}*/
 /*---FOOTER MOBILE---*/
footer {
  display: flex;
  justify-content: center;
  background: rgb(18, 0, 89);
  padding: 20px 0;
}

footer p {
  color: #e2e3ed;
}

footer .footer-content {
  border: dotted white 2px;
  padding: 0.5em;
}

footer .footer-content p {
  margin: 0;
  font-size: 0.7em;
}

footer #contact{
  width:100%;
  text-align: center;
  font-size: 3em;
  margin: 0.5em 0;
}

footer #contact a{
  color:white;
  margin: 0 15px;
}

footer .copyright {
  margin-top: 40px;
  text-align: center;
}

footer .copyright p {
  font-size: 0.83em;
}

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 768px) {

  /*--GENERAL TABLET STYLES--*/

  /*--HEADER TABLET STYLES--*/
  header {
    padding-top: 10px;
  }

  header .content-wrapper {
    width: 100%;
    display: flex;
    justify-content:space-around;
  }

  header img{
    width:40%;
  }

  header .header-divider {
    display: none;
  }

  header nav {
    width: 40%;
    margin: 0;
  }

  header nav ul {
    justify-content: space-around;
  }

  header nav ul li a {
    font-size: 1em;
  }

  /*---MAIN TABLET STYLES---*/
    main .hero {
    min-height: 250px;
  }

  main #content {
    justify-content: space-between;
  }

  main #content .b1 {
    width: 100%;
  }

  #content .b2,
  #content .b3 {
    width: 48%;
  }

  #content .b2 {
    margin-bottom: 40px;
    /*margin-right:2%;*/
  }

  #search article,
  #about article,
  #contact article {
    padding: 2em;
  }

  #content .b1 #search {
    width: 100%;
  }

  #content .b1 #search label {
    margin-left:5%;
  }

  main #search select {
    margin-bottom: 1.5em;
  }

  footer {
    padding: 30px 0;
  }
}

@media only screen and (min-width: 1200px) {

  /*---GENERAL DESKTOP STYLES---*/
  h2 {
    font-size: 3.5em;
  }

  .content-wrapper{
    max-width:1100px;
  }
  /*---HEADER DESKTOP STYPES---*/

  header .content-wrapper{
    justify-content:space-between;
  }
  header img{
    width:30%;
  }

  header nav {
    width: 30%;
  }

  /*---HERO DESKTOP STYLES---*/
  main .hero {
    min-height: 400px;
  }

  /*---MAIN DESKTOP STYLES---*/
  #content{
    max-width:1100px;
  }

  #content .b1 #search{
    margin:3em;
  }

  #search .content-wrapper {
    width: 100%;
  }

  main #search select {
    margin-bottom: 1.5em;
  }

  #about,
  #consider {
    max-width: 750px;
  }



}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}