/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}


/* ==========================================================================
     Author's custom styles
     ========================================================================== */
/* ==========================================================================
     Mobile first
     ========================================================================== */
/*--GENERAL STYLES--*/


html {
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1em;
  background-color: #f7f5e1;
  width: 100%;
  height: 100%;
}

h2,
h3,
h4,
label,
select,
option,
p,
li {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: #152A3E;
  text-decoration: none;
}

h2 {
  font-size: 2.75em;
}

.content-wrapper {
  width: 90%;
}

header {
  display: flex;
  justify-content: center;
  background: rgb(18, 0, 89);
  color: #e2e3ed;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  width:100%;
  align-items: center;
  flex-flow: row wrap;
  margin: 10px 0 20px 0;
}

.header .header-divider {
  width: 100%;
  height: 1px;
  color: #152A3E;
}

header h1 {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e2e3ed;
  font-size: 2em;
  width: 62%;
  margin:0;
}

header i {
  font-size:8em;
  padding-right:0.2em;
}

header nav {
  width: 100%;
  text-transform: uppercase;
  margin-top:1em;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding-left: 0;
}

header nav ul li a {
  font-size: 1em;
  color: #e2e3ed;
  text-decoration:none;
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline; 
}

/*---MAIN STYLES---*/
main .hero {
  display: flex;
  justify-content: center;
  background: url('../img/pexels-pixabay-255527-2.jpg') rgb(39, 168, 133) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  /*position: relative;*/
  width: 100;
}


/*.hero::before {
  content: "";
  background: url('../img/pexels-pixabay-415071.jpg') rgb(184, 223, 247) no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  flex-basis: 100px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}*/

main .hero .content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 10px; 
}

main .hero h2 {
  margin-top:40px;
  font-size: 2em;
  color: rgb(18, 0, 89);
  font-family: "Permanent Marker", cursive;

  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.main-content {
  flex-basis: 150px;
  display: flex;
  justify-content: center;
  background:rgb(18, 0, 89);
}

.main-content .content-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}

/*.main-content .content-wrapper .selections {
  flex-basis: 70px;
}*/

.main-content .content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px 0;
  width: 85%;
  display: flex;
  padding: 1em;
  flex-flow: row wrap;
  justify-content: center;
  background: #ffffff;
  border: 0.1em black solid;
  border-radius: 1em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1), 0 23px 30px rgba(17, 24, 39, .2);
}

.main-content h2{
  text-align:center;
}
.main-content .content-wrapper #search,
.main-content .content-wrapper .guides {
  display: flex;
  flex-direction: column;
}

.main-content .content-wrapper #search label {
  padding-top: 10px;
  font-size: 1em;
}

.main-content .content-wrapper #search select {
  width: 80%;
  margin-bottom: 30px;
}


.main-content .content-wrapper .guides h3 {
  font-size: 1em;
  margin: 0;
}

.main-content .result {
  border: 3px dotted black;
  padding: 10px 5px;
}
.main-content .content-wrapper .result p {
  margin: 0 0 1.5em 0;
  font-size:0.9em;
}

.main-content .content-wrapper .result a {
  margin:0;
}

#about {
  display: flex;
  /*min-height: 300px;*/
  justify-content: center;
  border-bottom: 3px dotted rgb(18, 0, 89);
}


#about .content-wrapper {
  display: flex;
  justify-content:center;
  flex-flow: row wrap;
  width: 90%;
  padding: 30px 0;
}

#about .about-paragraph{
  text-align:left;
}

#about h4{
  width:100%;
  margin-bottom:0.5em;
}

#about .about-paragraph p {
  margin-bottom: 2.5em;
}

#about h2 {
  text-transform: uppercase;
  flex-basis: 100%;
  text-align:center;
}

#about p {
  flex-basis: 100%;
}

#about p,
#about li {
  margin: 0;
}

#about .disclaimer{
  border: 2px dotted rgb(18, 0, 89);
}

#about .add {
  margin-bottom: 30px;
}

#contact{
  display:flex;
  justify-content: center;
}

#contact .content-wrapper{
  margin-bottom: 30px; 
  display:flex;
  flex-direction:column;
}

#contact h2{
  margin: 20px 0 1em 0; 
  text-transform: uppercase;
  text-align:center;
  padding:0;
}

#contact h4{
  margin:0;
}

#contact .about-me-header{
  margin-top: 1.5em;

}
#contact .contact-form{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  border: 4px white dotted;
}

#contact .contact-form ul{
  list-style:none;
  padding:0;
}

#contact .contact-form ul li{
  display:flex;
  flex-direction:column;
}
#contact .contact-form #email{
  margin-bottom:1.5em;
}

#contact button {
  width:30%;
  margin-top:1.5em;
}

footer {
  display: flex;
  justify-content:center;
  color: #e2e3ed;
  background: rgb(18, 0, 89);
  padding: 20px 0;
}


footer h5{
  width:100%;
}

footer p {
  color: #e2e3ed;
  font-size: 0.9em;
}

footer .copyright {
  margin-top: 40px;
  text-align: center;
}

/*

  
  footer {
    display: flex;
    padding: 20px 50px;
    height: 300px;
    background-color: rgb(226, 154, 226);
  }
  
  footer .content-wrapper{
    display:flex;
    justify-content: center;
    width: 50%;
    align-items:center;
    margin:0;
    flex-wrap:wrap;
  }
  
  footer .footer-content,
  footer copyright {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin:0;
  }
  
  footer h4,
  footer p {
    font-size:0.75em;
  }
  
  */



/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 768px) {

  /*--General styles TABLET--*/
  .content-wrapper {
    max-width: 648px;
  }

  /*--Header Styles TABLET--*/
  header {
    padding: 50px 0;
  }

  header .content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  header .header-divider {
    display: none;
  }
   
  header h1 {
    width: 45%;
    font-size: 1.85em;
    margin:0;
  }

  header nav {
    width: 45%;
    margin: 10px 0 0 0;
  }

  header nav ul {
    justify-content: space-between;
  }

  footer {
    padding:50px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .content-wrapper{
    max-width: 900px;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}